/********************************************************* 
font-family: 'Quattrocento', serif;
font-family: 'Oswald', sans-serif; 

*********************************************************/


/* Style for Navbar/Header */

.navbar {
    height: 70px;
    line-height: 40px;
    margin-bottom: 0;
}

.logo-bar {
    margin-top: -10px;
}

.logo-fit {
    padding: 10px;
}

.nav {
    margin-top: 0;
    font-size: 1.4em;
    letter-spacing: 1.5px;
    font-family: "Oswald", sans-serif;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #9d9d9d;
}

dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.inverse-dropdown {
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
    background-repeat: repeat-x;
    margin-top: 0;
}

.divider2 {
    background-color: #9d9d9d;
}


/* End of navbar style */


/* Style for footer */

html {
    min-height: 100%;
}

body {
    background-color: antiquewhite;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page-footer-spacing {
    margin-bottom: 5%;
}

.carousel {
    margin-bottom: 0px;
}


/**************************************************************/

footer {
    background-color: #1b1b1b;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    padding: 1%;
    clear: both;
}

.clearfix {
    clear: both;
}

.img-wrap {
    width: 15%;
    float: left;
    margin-top: 2%;
}

.footer-logo {
    width: 100%;
}

.footer-call-to-action {
    border-left: 1px solid #9d9d9d;
    margin-left: 4%;
    padding: 1% 0 0 4%;
    float: left;
    width: 30%;
}

.footer-call-to-action p {
    color: #9d9d9d;
    font-family: "Oswald", sans-serif;
}

.footer-quote-head {
    font-size: 2.5em;
}

.footer-quote-text {
    font-size: 1.5em;
}

#footer-btn {
    font-size: 1.6em;
    background-color: #0137A2;
}

.footer-links {
    float: left;
    width: 50%;
    margin-top: 8%;
}

.footer-links ul li {
    display: inline;
    margin-top: 0;
    font-size: 1.4em;
    letter-spacing: 1.5px;
    font-family: "Oswald", sans-serif;
}

.footer-links a {
    text-decoration: none;
    color: #9d9d9d;
    text-align: center;
    margin-left: 5%;
    font-size: 1.3em;
}

@media screen and (max-width: 800px) {
    .img-wrap {
        display: none;
    }
    .footer-call-to-action {
        border: 0px;
        margin-left: 0;
        padding: 1% 0 0 4%;
        float: left;
        width: 45%;
    }
    .footer-links {
        float: left;
        width: 55%;
        margin-top: 8%;
        text-align: center;
    }
    .footer-links a {
        border-left: 1px solid #9d9d9d;
        padding-left: 10%;
        line-height: 2em;
    }
}

@media screen and (max-width: 520px) {
    .img-wrap {
        display: none;
    }
    .footer-call-to-action {
        border: 0px;
        margin-left: 0;
        padding: 1% 0 0 4%;
        float: left;
        width: 90%;
        text-align: center;
    }
    .footer-links {
        width: 80%;
    }
    .footer-links a {
        border: 0;
        padding-left: 5%;
        line-height: 2em;
    }
}


/*****************************************************************/


/* Style for the carousel */

.item .img {
    min-width: 100%;
}

.carousel-caption {
    text-align: center;
    bottom: 25%;
}

@-moz-document url-prefix() {
    .carousel-caption {
        text-align: center;
        bottom: 10%;
    }
}

#caption {
    font-family: "bodoni mt condensed";
    font-weight: bold;
    color: whitesmoke;
    line-height: 1.25em;
    font-size: 5.5vw;
    text-shadow: 3px 2px black;
}

#caption-head {
    font-family: "bodoni mt condensed";
    font-weight: bold;
    color: whitesmoke;
    line-height: 1.25em;
    font-size: 8vw;
    text-shadow: 3px 2px black;
    text-align: center;
}

.btn {
    font-family: "bodoni mt condensed", serif;
    font-size: 1.6em;
    color: white;
    background-color: #9A9898;
}

.btn-blue {
    background-color: #0137A2;
    font-size: 1.6em;
}

.btn-blue-xs {
    background-color: #0137A2;
    text-shadow: 2px 2px black;
    font-size: 6vw;
}

.btn-blue-xs-2 {
    background-color: #0137A2;
    text-shadow: 2px 2px black;
    font-size: 3vw;
}


/* End of carousel style */

.tab {
    margin-left: 40px;
}


/************* Style for the Our Services page **********/

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        visibility: visible;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        visibility: visible;
        -webkit-transform: none;
        transform: none;
    }
}

.design-header {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-top: 25px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.my-text {
    font-family: 'Quattrocento', serif;
    font-size: 17px;
    line-height: 1.75em;
}

.custom {
    margin-top: 50px;
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
}

.custom-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}

.stylish {
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    visibility: hidden;
    -webkit-animation: fadeInUp 1s .4s forwards;
    animation: fadeInUp 1s .4s forwards;
}

.stylish-small {
    margin-top: 50px;
}

.stylish-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}

.responsive {
    margin-top: 50px;
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
}

.responsive-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}

.ready-box {
    margin-top: 60px;
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
}

.ready-box-text {
    font-family: 'Quattrocento', serif;
    font-size: 25px;
}

.launch {
    margin-top: 50px;
    margin-left: 50px;
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
}

.launch-xs {
    margin-top: 50px;
}

.maintenance {
    margin-top: 50px;
    margin-right: 50px;
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
}

.maintenance-xs {
    margin-top: 50px;
}

.why-us-header {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-top: 20%;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}


/************ End of style for Our Services page ********/


/******************* Style for Blog *******************/

.container {
    margin-top: 30px;
}

.feature-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.feature-header-name {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
    color: gray;
}

.feature-image {
    padding-left: 17%;
}

.feature-text {
    font-family: 'Quattrocento', serif;
    font-size: 17px;
}

.side-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-the-author {
    margin-top: 50px;
}

.more-articles {
    margin-top: 35px;
}

.first-more {
    margin-left: -40px;
}


/* End style for blog */


/* Style for Contact Us Page */

.container-form {
    margin-top: 5%;
    margin-bottom: 5%;
}

.photo-head {
    font-family: 'Oswald', sans-serif;
    font-size: 8vw;
    text-align: center;
}

#thumb {
    overflow: hidden;
}

.form-offline {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    color: red;
}


/************* End of style for Contact Us Page *********/


/********************Style for Gallery *************/

.gallery-container {
    padding: 3% 0 3% 0;
}

.gallery-text {
    font-family: 'Quattrocento', serif;
    font-size: 2em;
    margin-top: 3%;
    text-align: center;
}

.gallery-item {
    margin-bottom: 2%;
}

.website-example-img {
    width: 80%;
    margin: 0 auto;
    /*** Box Shadow for all images ****/
    box-shadow: 10px 15px 49px 0px rgba(0, 0, 0, 0.6);
}
