/* Style for Navbar/Header */
.navbar {
    height: 70px;
    line-height: 40px;
    margin-bottom: 0;
}

.logo-bar {
    margin-top: -10px;
}

.logo-fit {
    padding: 10px;
}

.nav {
    margin-top: 0;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #9d9d9d;
}

dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;}

.inverse-dropdown {
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background-image: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
    background-repeat: repeat-x;
    margin-top:0;
}

.divider2 {
    background-color: #9d9d9d;
}
/* End of navbar style */

/* Style for footer */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: antiquewhite;
    overflow-y: scroll;
    overflow-x: hidden;

}

@media(max-width:1600px){
  body {
    margin-bottom: 250px;
  }
}

@media(max-width:768px){
  body {
    margin-bottom: 175px;
  }
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.little-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.footer-logo {
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

.little-footer-logo {
    float: left;
    margin-left: 1%;
    margin-top: 5%;
}

.footer-quote {
    margin-left: 1%;
    margin-top: 2%;
    color: white;
    border-right: solid 1px whitesmoke;
}

.footer-quote-2 {
    margin-left: 1%;
    margin-top: 2%;
    color: white;
}

.footer-quote-head {
    margin-left: 1%;
    margin-top: 2%;
    color: white;
    font-family: "Oswald", sans-serif;
    color: whitesmoke;
    font-size: 2vw;
}

.little-footer-quote-head {
    margin-left: 1%;
    margin-top: 8%;
    color: white;
    font-family: "Oswald", sans-serif;
    color: whitesmoke;
    font-size: 3.5vw;
    text-align: center;
    margin-bottom: -10px;
}

.footer-quote-text {
    margin-left: 1%;
    margin-top: -20px;
    color: white;
    font-family: 'Quattrocento', serif;
    font-size: 1.1vw;
    line-height: 1.35em;
}

.footer-link {
    color: white;
    font-family: 'Quattrocento', serif;
    font-size: 1.3vw;
}

.little-footer-link {
    color: white;
    font-family: 'Quattrocento', serif;
    font-size: 2.5vw;
    text-align: center;
    margin-left: 11%;
}

.button-mover{
    margin-left: 10%;
}
/* End of footer style */

/* Style for the carousel */


.item .img {
    min-width: 100%;
}

.carousel-caption {
text-align: center;
bottom: 25%;

}

#caption {
    font-family: "bodoni mt condensed" ;
    font-weight: bold;
    color: whitesmoke;
    line-height: 1.25em;
    font-size: 5.5vw;
    text-shadow: 3px 2px black;
}

#caption-head {
    font-family: "bodoni mt condensed" ;
    font-weight: bold;
    color: whitesmoke;
    line-height: 1.25em;
    font-size: 8vw;
    text-shadow: 3px 2px black;
    text-align: center;
}

.btn {
    font-family: "bodoni mt condensed", serif;
    font-size: 1.75vw;
    color: white;

    background-color: #9A9898;
}

.btn-blue {
    background-color: #0137A2;
    font-size: 1.75vw;
}

.btn-blue-xs {
    background-color: #0137A2;
    text-shadow: 2px 2px black;
    font-size: 6vw;
}

.btn-blue-xs-2 {
    background-color: #0137A2;
    text-shadow: 2px 2px black;
    font-size: 3vw;
}

/* End of carousel style */

/* font-family: 'Quattrocento', serif;
font-family: 'Oswald', sans-serif; */



.tab {
    margin-left: 40px;
}

/* Style for the Our Services page */
 
.design-header {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-top: 25px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.my-text {
    font-family: 'Quattrocento', serif;
    font-size: 17px;
    line-height: 1.75em;
}

.custom {
    margin-top: 50px;
}


.custom-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}


.stylish {
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.stylish-small {
    margin-top: 50px;
}

.stylish-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}


.responsive {
    margin-top: 50px;
}

.responsive-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}

.ready-box {
    margin-top: 60px;
}

.ready-box-text {
    font-family: 'Quattrocento', serif;
    font-size: 25px; 
}

.launch {
    margin-top: 50px;
    margin-left: 50px;
}

.launch-xs {
    margin-top: 50px;
}

.maintenance {
    margin-top: 50px;
    margin-right: 50px;
}

.maintenance-xs {
    margin-top: 50px;
}

/* End of style for Our Services page */

/* Style for Blog */

.container {
    margin-top: 30px;
}

.feature-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.feature-header-name {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
    color: gray;
}

.feature-image {
    padding-left: 17%;
}

.feature-text {
    font-family: 'Quattrocento', serif;
    font-size: 17px; 
}

.side-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-the-author {
    margin-top: 50px;
}

.more-articles {
    margin-top: 35px;
}

.first-more {
    margin-left: -40px;
}

/* End style for blog */

/* Style for Contact Us Page */

.container-form {
    margin-top: 5%;
    margin-bottom: 5%;
}
